/* Base project section */
.project-section {
  display: flex;
  flex-direction: column;
  position: relative;
}

.project-section__heading {
  font-size: 26px;
  margin: 0 0 5px;
}

.project-section__heading em {
  display: block;
  font-size: 22px;
  line-height: 1.375;
}

.project-section__snippet {
  font-size: 16px;
  margin: 0;
}

.project-section__hero {
  margin-bottom: 40px;
  width: 100%;
}

.project-section__image {
  box-shadow: none;
  display: block;
  margin-bottom: 40px;
  width: 100%;
}

.project-section__image--full-width {
  margin-left: -25px;
  width: 100vw;
}

.project-section__image--with-shadow {
  box-shadow: 0px 8px 15px rgba(136, 136, 136, 0.35);
}

.project-section__image--short {
  height: 125px;
  object-fit: cover;
}

.col-lt .project-section__image:last-of-type,
.col-rt .project-section__image:last-of-type {
  margin-bottom: 0;
}

.project-section__band {
  height: 24px;
  position: absolute;
  top: 104px;
  width: 100%;
}

.project-section__band--amtech {
  background: var(--amtech-orange);
}

.project-section__band--amtech-black {
  background: var(--amtech-black);
}

.project-section__band--ddp-green {
  background: var(--ddp-green);
}

.project-section__band--ddp-blue {
  background: var(--ddp-blue);
}

.project-section__band--ddp-red {
  background: var(--ddp-red);
}

.project-section__band--gaddis-blue {
  background: var(--gaddis-blue);
}

.project-section__band--gaddis-black {
  background: var(--gaddis-black);
}

/* Project section with gradient background */
.project-section--with-background {
  background: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%);
  padding-bottom: 56px;
}

.project-section--with-background-alt {
  background: linear-gradient(222.94deg, #FFFFFF 20.15%, rgba(174, 209, 228, 0.25) 119.82%);
  padding-bottom: 56px;
}

.project-section--with-background-no-mobile {
  background: none;
  padding-bottom: 56px;
}

@media only screen and (max-width: 767px) {
  .project-section--reversed-desktop > *:nth-child(1) {
    order: 1;
  }

  .project-section--reversed-desktop > *:nth-child(2) {
    order: 0;
  }
}

@media only screen and (min-width: 768px) {
  .project-section__snippet {
    font-size: 20px;
  }

  .project-section__hero {
    margin-bottom: 0;
  }

  .project-section__band {
    top: 169px;
  }

  .project-section__image--full-width {
    margin-left: 0;
    width: 100%;
  }

  /* Project section with image that goes to edge */
  .project-section--to-edge {
    align-items: center;
    flex-direction: row;
  }

  .project-section--to-edge .wrapper {
    margin: 0;
  }

  .project-section--to-edge > *:first-child {
    margin-right: 60px;
  }

  .project-section--to-edge .project-section__description {
    width: 320px;
  }

  .project-section--to-edge .project-section__hero {
    flex: 1;
  }

  /* Image project section */
  .project-section--image-columns .wrapper {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }

  .project-section--image-columns .col-rt,
  .project-section--image-columns .col-lt,
  .project-section--image-columns .project-section__image {
    width: calc((100% - 20px) / 2);
  }

  .project-section--image-columns .project-section__image {
    order: 1;
  }

  .project-section--image-columns .col-rt {
    order: 2;
  }

  .project-section--image-columns .col-rt .project-section__image,
  .project-section--image-columns .col-lt .project-section__image {
    width: 100%;
  }

  .project-section--image-columns .project-section__image:first-of-type {
    align-self: flex-start;
  }

  /* Flexed on desktop project section */
  .project-section--desktop-flex {
    align-items: center;
    flex-direction: row;
  }

  .project-section--desktop-flex > *:first-child {
    margin-right: 80px;
  }

  .project-section--desktop-flex .project-section__description {
    width: 320px;
  }

  .project-section--desktop-flex .project-section__image {
    flex: 1;
  }

  /* Project section with background image on desktop */
  .project-section--background-image {
    background: #FFFFFF no-repeat center center;
    background-size: cover;
    padding: 113px 0;
    position: relative;
  }

  .project-section--background-image:after {
    background: linear-gradient(203.28deg, rgba(102, 102, 102, 0.0001) 5.33%, #666666 95.14%);
    bottom: 0;
    content: '';
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .project-section--background-image .wrapper {
    z-index: 10;
  }
  
  .project-section--background-image .project-section__heading *,
  .project-section--background-image .project-section__snippet {
    color: #FFFFFF;
    width: 460px;
  }
}
