header {
  button {
    width: 24px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    z-index: 101;
    border: none;
    background: none;
    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: $gray;
      border-radius: 2px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 7px;
      }
      &:nth-child(4) {
        top: 14px;
      }
    }
  }
  nav {
    overflow: hidden;
    ul {
      list-style-type: none;
      z-index: 10;
      margin: 0;
      padding: 0;
      height: 100vh;
      width: 100%;
      opacity: 0;
      pointer-events: none;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $gray;
      padding-top: 100px;
      transition: 0.4s;
      li {
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
      }
      a {
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        padding: 15px 0;
        display: block;
        color: $white;
        border-top: 1px solid $white;
        text-align: center;
        &.nuxt-link-active {
          color: $blue;
        }
      }
      li:first-of-type {
        a {
          border-top: none;
        }
      }
    }
  }
  &.menu-open {
    button {
      span {
        background-color: $white;
        &:nth-child(1) {
          top: 7px;
          width: 0;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
        &:nth-child(4) {
          top: 7px;
          width: 0;
          left: 50%;
        }
      }
    }
    nav {
      ul {
        opacity: 1;
        pointer-events: initial;
      }
    }
  }
}

@media only screen and (min-width: $medium) {
  header {
    > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    button {
      display: none;
      visibility: hidden;
    }
    nav {
      ul {
        pointer-events: initial;
        flex-direction: row;
        opacity: 1;
        height: auto;
        background: transparent;
        position: static;
        padding: 0;
        li {
          width: auto;
          max-width: 100%;
          padding-left: 40px;
        }
        a {
          color: $gray;
          font-size: 13px;
          border: none;
          position: relative;
          &:before {
            content: '';
            width: 0;
            height: 5px;
            background: $gray;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.4s;
          }
          &.nuxt-link-active,
          &:hover {
            color: $gray;
            &:before {
              width: 100%;
            }
          }
        }
      }
    }
  }
}