* {
  color: var(--black);
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

h1,
h2 {
  font-size: 26px;
  font-weight: normal;
  line-height: 36px;
}

h1 strong {
  display: block;
}

h2 {
  font-weight: bold;
}

p {
  font-size: 20px;
  line-height: 27px;
}

a {
  text-decoration: none;
}
