* {
  color: var(--black);
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

h1,
h2 {
  font-size: 26px;
  font-weight: normal;
  line-height: 36px;
}

h1 strong,
h2 strong {
  display: block;
}

h2 {
  font-weight: bold;
}

h2 em {
  font-weight: normal;
}

h3 {
  font-size: 22px;
  font-weight: normal;
  line-height: 1.31;
  margin: 0 0 10px;
}

p {
  font-size: 20px;
  line-height: 1.375;
}

a {
  text-decoration: none;
}
