.is-hidden {
  display: none;
  visibility: hidden;
}

.hidden-on-mobile {
  display: none;
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .hidden-on-mobile {
    display: block;
    visibility: visible;
  }
}

@media only screen and (min-width: 768px) {
  .hidden-on-desktop {
    display: none;
    visibility: hidden;
  }
}